body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("https://as1.ftcdn.net/v2/jpg/02/55/56/72/1000_F_255567289_f4ZHtwnc1D86ly2Zkukf2YSWu5ITIUdn.jpg");

  background-size: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.jumbotron {
  /* background: url("https://www.shutterstock.com/image-illustration/beautiful-old-fantasy-library-full-260nw-2215196727.jpg");
  background-repeat: no-repeat; */
  background-color: #8bc4b0;
}

/* jumbotron */
.jumbotron {
  background: url("https://images.photowall.com/products/45534/old-library.jpg?h=699&q=85");
  height: 30rem;
  background-position-y: 0rem;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  align-items: center;
  display: flex;
  color: beige;
}

.jumbotron .container {
  background-color: rgba(0, 0, 0, 0.68);
  width: 60%;
  border-radius: 20px;
}

.welcome-message {
  width: fit-content;
  background-color: rgb(255 228 160 / 74%);
  margin-inline: auto;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1.5px solid goldenrod;
}

/* input */
.container-fluid .input-group {
  width: 30%;
  margin-inline: auto;
}

/* cards */

.row {
  align-items: baseline;
}

.col .main-card {
  margin-top: 3rem;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
}

.card-img-top {
  object-fit: cover;
  overflow: hidden;
  box-shadow: rgb(38 57 77) -21px 15px 12px -13px;
  border-bottom: 5px solid rgb(199, 199, 199);
  border-left: 3px solid rgb(97, 27, 27);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: -21px 15px 23px -13px rgb(38 57 77);
}

.main-card .main-card-body {
  background-color: rgba(0, 0, 0, 0.419);
  margin-top: 1rem;
  border-radius: 10px;
}

.main-card .card-title {
  color: rgb(244, 244, 230);
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* card footer */
.card footer {
  /* position: static; */
  z-index: 1;
}
.list-group {
  color: black;
  position: absolute;
  max-height: 12rem;
  overflow: auto;
}

footer .card-body {
  padding: 10px 5px;
}

.blockquote p {
  margin-bottom: 5px;
}

footer .blockquote-footer {
  font-size: 11px;
  text-align: center;
}
